/* Sticky hanya untuk layar md (>=768px) ke atas */
@media (min-width: 768px) {
  .sticky-nav {
    position: sticky;
    top: 0;
    z-index: 1020; /* Pastikan di atas elemen lain */
  }
}

body {
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

.footer {
  width: 100%;
  margin-top: auto;
  background: url("footerImageLandscape.png") no-repeat center center/cover;
  height: 600px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: white; /* teks menjadi putih */
}

.footer-overlay {
  width: 100%;
  padding: 40px 0;
  text-align: center;
  color: white;
}

h1 {
  color: #444;
}

input {
  padding: 10px;
  margin: 5px;
  width: 200px;
}

button {
  background-color: #ff5733;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #c70039;
}

#food-list {
  margin-top: 20px;
}

.food-item {
  background: white;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

#total-calories {
  margin-top: 15px;
  font-weight: bold;
}
