body {
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  width: 100%;
  margin-top: auto;
  background: url("footerImageLandscape.png") no-repeat center center/cover;
  height: 600px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: white; /* teks menjadi putih */
}

.footer-overlay {
  width: 100%;
  padding: 40px 0;
  text-align: center;
  color: white;
}
